<html>

<body style="background-color:#337DEF;">
    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h3 class="mt-5"><font color="white" style="font-family:verdana;" style="font-size:300%;">Emotion Detection</font></h3>
                    <form action="{{url_for('after')}}" method='POST' enctype='multipart/form-data'>
                        <input type="file" name='file1'>
                    <input type="submit" name="btn"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>